<h1>List of Bloops</h1>
<% if signed_in? %>
  <div class="row">
    <%= form_tag '/bloops', remote:true, class:"new-bloop", id:"new-bloop", method: :POST do %>
      <div class="row no-margin">
        <div class="col s10 m10 l10">
          <%= text_field_tag :bloop_message, nil, class: "user-form", placeholder: "Flerp me herp blerp?", autofocus: true %>
        </div>
        <div class="right col s2">
          <%= submit_tag "SHOOP", class: "btn btn-color", id:"bloop_submit" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<hr>
<% @bloops.each do |bloop| %>
  <div class='col-md-offset-2 col-md-6 target'>
    <%= link_to bloop.message, bloop, class: 'btn btn-default btn-main' %>
  </div>
<% end %>
